@import "tailwindcss";

@theme {
    --color-primary: #3480eb;
    
}

.primary-table th,
.primary-table td {
    padding: 12px;
    text-align: left;
    @apply border border-gray-300
}
.primary-table tr:not(:last-child) {
    border-bottom: 1px solid;
    @apply border-gray-300;
}
.primary-table thead tr {
    border-bottom: 1px solid;
    @apply border-gray-300 bg-gray-100;
}
.primary-table tbody tr {

    transition: 100ms;
    cursor: pointer;
}
.primary-table tr:hover {
    @apply bg-gray-100;
}

.primary-button {
    @apply cursor-pointer px-4 py-2 flex items-center justify-center font-medium gap-2 rounded-lg bg-primary text-white hover:brightness-90 transition-all;
}

.primary-input {
    @apply px-4 py-2 rounded-lg w-full border-2 border-gray-200 focus:border-primary transition-all;
}

.loader-big {
    width: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 6px solid #dadada;
    border-right-color: var(--color-primary);
    animation: l2 1s infinite linear;
  }
  @keyframes l2 {to{transform: rotate(1turn)}}
